h1 {font-size: 40px;
    font-weight: regular;
    font-family: Alice, sans-serif;
    color:#291B1A
}

h2 {font-size: 24px;
    font-weight: regular;
    font-family: Alice, sans-serif;
    color:#291B1A
}

p {font-size: 16px;
    font-weight: regular;
    font-family: Alice, sans-serif;
    color:#573A37
}

 {
    color:#F0E8C2
}